#game-container {
    position: relative;
    width: 400px;
    height: 600px;
}

#character {
    width: 150%;
    margin-left: -28%;
    height: auto;
}

.hotspot {
    position: absolute;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.3); /* Visible for debugging */
    pointer-events: all;
    border: #222;
}

.organ {
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5)); /* Lueur respectant les contours */
}

.organ:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8)); /* Lueur plus intense au survol */
}
