:root {
    --header-color: #090e1d;
    --background-color: #ffffff;
    --navbar-color: #1a274e;
    --text-color: #fff;
    --button-background: #1a274e;
    --button-text-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

html, body {
    height: 100%;
}

.motto {
    font-style: italic;
    color: #f4f4f4;
}

header .logo h1 {
    margin: 0;
    font-size: 2rem;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background-color: var(--navbar-color);
    overflow-y: auto;
    transition: right 0.3s ease;
    z-index: 1050;
    padding: 1rem;
}


.sidebar .btn-close {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 10px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-item {
    border: 2px solid var(--text-color);
    border-radius: 8px;
    margin: 5px;
    background-color: var(--navbar-color);
    padding: 5px 15px;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.nav-item:hover {
    background-color: var(--header-color);
    transform: scale(1.05);
}

.nav-link {
    color: var(--text-color);
    font-size: 1.1rem;
    text-decoration: none;
}

.nav-link img {
    vertical-align: middle;
}


#sidebar.active {
    right: 0;
}

.about, .principle {
    margin: 20px auto;
    max-width: 800px;
}

main {
    flex-grow: 1;
}


.auth-buttons {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 20px;
    top: 15px;
}

.auth-buttons .btn {
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 5px;
}
